.nav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #0067a7;
    font-family: 'Quattrocento', serif;
}
.nav li {
    float: left;
}
.nav li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.nav li a:hover{
    background-color:#3b6ba5;
}
h1 {
    padding-top: 100px;
    font-family: 'Teko', sans-serif; 
    font-weight: bold;
    color: #373538;
}
body {
    background-color: whitesmoke;
}
p {
    margin: 40px;
}
